.main {
  display: flex;
  flex-direction: column;
  padding: 6rem;
  min-height: 100vh;
}

.chartContainer {
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.reportList {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}
