.main {
  display: flex;
  flex-direction: column;
  padding: 6rem;
  min-height: 100vh;
}

.configurator {
  display: flex;
  justify-content: center;
  column-gap: 0.5rem;
  padding: 2rem;
}

.chartContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
